.filterButton{
    list-style-type: none;
    padding: 0px;
    white-space: nowrap;
}
.button {
    background-color: white;
    border-color: rgb(79, 0, 116);
    border-width: thin;
    margin: 2px;
}
.p {
    display: inline-flex;
    font-size: 8px;
    color:  rgb(185, 153, 185);
    padding-left: 1em;
}

.h2 {
    display:inline-flex;
    font-size: 10px;
    font-weight: bold;
    color:  rgb(52, 0, 110);
}