.filterCategory {
    display: inline-block;
    flex-wrap: nowrap;

}

.filterCategory > p {
    flex-wrap:nowrap;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
    padding-left: 40px;
    
}