.logo {    
    display: inline-block;
    color: whitesmoke;
    background: rgb(81, 33, 214);
    padding: 20px 20px;
}
.logoText {
    font-size: 24px;
    font-family: Arial;
    font-weight: bolder;
}

.menu {
    font-weight: bold;
}


.title {
    font-weight: lighter; 
    font-family: sans-serif;
}
  